<h2> NEW STUDENT </h2>

<form action='/students' method='post'>

  <label for="student[nombre]">Nombre</label><br>
  <input type="text" name="student[nombre]">
  <br>

  <label for ="student[correo]">Correo</label><br>
  <input type="text" name="student[correo]">
  <br>

  <label for="studens[fecha]">Fecha de nacimiento</label><br>
  <input type="date" name="student[fecha]">
  <br>

  <label for="student[programa]">Programa</label><br>
  <input type="text" name="student[programa]">
  <br>

  <input type="submit" value="Guardar">

</form> <!-- cerramos formulario -->
