<h2> Estudiante: <%= @student.nombre %> </h2>
<% @Students %>
<table border="1px">
	<thead>
		<tr>
			<th>Correo</th>
			<th>Fecha de nacimiento</th>
			<th>programa</th>
		</tr>
		<tbody>
			<tr>
				<td> <%= @student.correo%> </td>
				<td> <%= @student.fecha%> </td>
				<td> <%= @student.programa %> </td>
			</tr>
		
		</tbody>
	</thead>
</table>