<h2> New Teacher </h2>

<form action="/teachers" method="post">

  <label for="teacher[nombre]">Nombre</label><br>
  <input type="text" name="teacher[nombre]">
  <br>

  <label for="teacher[correo]">Correo</label><br>
  <input type="text" name="teacher[correo]"><br>

  <label for="teacher[materia]">Materia</label><br>
  <input type="text" name="teacher[materia]"><br>

  <input type="submit" value="guardar">
</form>
