<h2> New Teacher </h2>

<form action="/teachers" method="post">

  <label for="teacher[nombre]"></label>
  <input type="text" name="teacher[nombre]"><br>

  <label for="teacher[correo]">correo</label><br>
  <input type="text" name="teacher[correo]">

  <label for="teacher[materia]"></label><br>
  <input type="text"



</form>
