<h2> Maestro: <%=@teacher.nombre %></h2>
<table border="1px">
	<thead>
		<tr>
			<th>Correo</th>
			<th>Materia</th>
		</tr>		
	</thead>
	<tbody>
		<tr>
			<td> <%=@teacher.correo %> </td>
			<td><%=@teacher.materia %></td>
		</tr>
	</tbody>
</table>